# === Identity ===
set realname = ""
set from = "mail@mail.com"
set use_from = yes
set envelope_from = yes

# === Mailbox locations ===
set folder = "imaps://mail.server.de:993/"
set spoolfile = "+INBOX"
set record = "+Sent"
set postponed = "+Drafts"
set trash = "+Trash"

# === IMAP ===
set imap_user = "mail@mail.com"
set imap_pass = ""

# === SMTP ===
set smtp_url = "smtp://mailadress@mail.server.de:587/"
set smtp_pass = ""

